
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$header-gray : #CFCFCF;
$sidebar-gray : #E6E6E6;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// Header Styles
.header{
  background-color: $header-gray;
}

.option-panel {
  display: inline-block;
  float: right;
}

//SideBar Styles
.sidebar {
  background-color: $sidebar-gray;
}

// Recipe List
.add-recipe{
  display:none;
}
